body {
  background-color: #fff;
  background-image: linear-gradient(rgba(244, 244, 250, 0.8) 1px, transparent 0),
    linear-gradient(#f4f4fa 1px, transparent 0),
    linear-gradient(90deg, rgba(244, 244, 250, 0.8) 1px, transparent 0),
    linear-gradient(90deg, #f4f4fa 1px, transparent 0),
    linear-gradient(transparent 3px, #fff 0, #fff 94px, transparent 0),
    linear-gradient(
      90deg,
      #f4f4fa 3px,
      transparent 0,
      transparent 94px,
      #f4f4fa 0
    );
  background-size: 24px 24px, 96px 96px, 24px 24px, 96px 96px, 96px 96px,
    96px 96px;
}
